<!-- File Storage -->
<div class="settings-section-title" id="storageSectionDiv">
    <span class="help-mark" data-i18n-title="choose where and how your media is stored" title="choose where and how your media is stored">?</span>
    <a class="settings-section-title" data-i18n="File storage">File storage</a>
    <span class="minimize"></span>
</div>
<table class="settings">
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Storage Device">Storage Device</span></td>
        <td class="settings-item-value">
            <select class="styled storage camera-config" id="storageDeviceSelect">
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="indicates the storage device where the image and video files will be saved" title="indicates the storage device where the image and video files will be saved">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="storageDevice=network-share" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Network server">Network server</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="networkServerEntry"></td>
        <td><span class="help-mark" data-i18n-title="the address of the network server (IP address or hostname)" title="the address of the network server (IP address or hostname)">?</span></td>
    </tr>
    <tr class="settings-item" depends="storageDevice=network-share">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="SMB Protocol Version">SMB Protocol Version</span></td>
        <td class="settings-item-value">
            <select class="styled storage camera-config" id="networkSMBVerSelect">
                <option value="1.0">1.0</option>
                <option value="2.0">2.0</option>
                <option value="2.1">2.1</option>
                <option value="3.0">3.0</option>
                <option value="3.1.1">3.1.1</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="selects the SMB version to be used (test the various options and see which one works best with your NAS)" title="selects the SMB version to be used (test the various options and see which one works best with your NAS)">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="storageDevice=network-share" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Share name">Share name</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="networkShareNameEntry"></td>
        <td><span class="help-mark" data-i18n-title="the name of the network share" title="the name of the network share">?</span></td>
    </tr>
    <tr class="settings-item" depends="storageDevice=network-share" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Username">Username</span></td>
        <td class="settings-item-value"><input type="text" autocapitalize="none" class="styled storage camera-config" id="networkUsernameEntry"></td>
        <td><span class="help-mark" data-i18n-title="the username to be supplied when accessing the network share (leave empty if no username is required)" title="the username to be supplied when accessing the network share (leave empty if no username is required)">?</span></td>
    </tr>
    <tr class="settings-item" depends="storageDevice=network-share" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Share Password">Share Password</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled storage camera-config" id="networkPasswordEntry"></td>
        <td><span class="help-mark" data-i18n-title="the password required by the network share (leave empty if no password is required)" title="the password required by the network share (leave empty if no password is required)">?</span></td>
    </tr>
    <tr class="settings-item" required="true" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Root directory">Root directory</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="rootDirectoryEntry"></td>
        <td><span class="help-mark" data-i18n-title="the root path (on the selected storage device) where the files will be saved" title="the root path (on the selected storage device) where the files will be saved">?</span></td>
    </tr>
    <tr class="settings-item" depends="storageDevice=network-share">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value"><div class="button normal-button test-button" id="networkShareTestButton" data-i18n="Test share">Test share</div></td>
        <td><span class="help-mark" data-i18n-title="click this button to test the network share connectivity after you have filled in the required details" title="click this button to test the network share connectivity after you have filled in the required details">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Disk usage">Disk usage</span></td>
        <td class="settings-item-value">
            <div id="diskUsageProgressBar" class="progress-bar"></div>
        </td>
        <td><span class="help-mark" data-i18n-title="the used/total size of the disk where the root directory resides" title="the used/total size of the disk where the root directory resides">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Upload Media Files">Upload Media Files</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="uploadEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want your media files to be uploaded to an external service" title="enable this if you want your media files to be uploaded to an external service">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Upload Pictures">Upload Pictures</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="uploadPictureSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want pictures to be uploaded to an external service" title="enable this if you want pictures to be uploaded to an external service">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Upload Movies">Upload Movies</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="uploadMovieSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want videos to be uploaded to an external service" title="enable this if you want videos to be uploaded to an external service">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Upload Service">Upload Service</span></td>
        <td class="settings-item-value">
            <select class="styled storage camera-config" id="uploadServiceSelect">
                <option value="ftp" data-i18n="FTP server">FTP server</option>
                <option value="sftp" data-i18n="SFTP server">SFTP server</option>
                <option value="gdrive">Google Drive</option>
                <option value="gphoto">Google Photo</option>
                <option value="dropbox">Dropbox</option>
                <option value="s3">S3 (AWS/MinIO/…)</option>
                <option value="webdav">WebDAV</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="choose a service to which the media files should be uploaded" title="choose a service to which the media files should be uploaded">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="uploadEnabled uploadService=(ftp|sftp|http|https)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Server Address">Server Address</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="uploadServerEntry"></td>
        <td><span class="help-mark" data-i18n-title="the domain name or IP address of the server (eg ftp.example.com or 192.168.1.3)" title="the domain name or IP address of the server (eg ftp.example.com or 192.168.1.3)">?</span></td>
    </tr>
    <tr class="settings-item" required="true" min="1" max="65535" depends="uploadEnabled uploadService=(ftp|sftp|http|https)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Server port">Server port</span></td>
        <td class="settings-item-value"><input type="text" class="number styled storage camera-config" id="uploadPortEntry"></td>
        <td><span class="help-mark" data-i18n-title="the port to use when connecting to the service (leave it empty to use the default value)" title="the port to use when connecting to the service (leave it empty to use the default value)">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(http|https)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Method">Method</span></td>
        <td class="settings-item-value">
            <select class="styled storage camera-config" id="uploadMethodSelect">
                <option value="post">POST</option>
                <option value="put">PUT</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="the HTTP method to use when uploading files" title="the HTTP method to use when uploading files">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(s3|webdav)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Endpoint URL">Endpoint URL</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="uploadEndpointUrlEntry"></td>
        <td><span class="help-mark" title="<span data-i18n="The complete URL to the upload server endpoint:">The complete URL to the upload server endpoint:</span>
  <span data-i18n="For S3: E.g. http://my.minio:9000. Leave it empty for AWS!">For S3: E.g. http://my.minio:9000. Leave it empty for AWS!</span>
  <span data-i18n="For WebDAV: E.g. https://my.cloud/remote.php/dav/files/me/">For WebDAV: E.g. https://my.cloud/remote.php/dav/files/me/</span>">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="uploadEnabled uploadService!=(s3)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Location">Location</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="uploadLocationEntry"></td>
        <td><span class="help-mark" data-i18n-title="the location (root path) where media files should be uploaded (e.g. /files/cam1/)" title="the location (root path) where media files should be uploaded (e.g. /files/cam1/)">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService!=(gphoto)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Include Subfolders">Include Subfolders</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="uploadSubfoldersSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this to upload the media files together with their subfolders, instead of placing them directly into the root location" title="enable this to upload the media files together with their subfolders, instead of placing them directly into the root location">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(gdrive)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Clean Cloud">Clean Cloud</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="cleanCloudEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this to delete the uploaded media files on cloud as well when the local media files get deleted according to file persistence setting, currently this option is available only for gdrive." title="enable this to delete the uploaded media files on cloud as well when the local media files get deleted according to file persistence setting, currently this option is available only for gdrive.">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(ftp|sftp|http|https|webdav)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Username">Username</span></td>
        <td class="settings-item-value"><input type="text" autocapitalize="none" class="styled storage camera-config" id="uploadUsernameEntry"></td>
        <td><span class="help-mark" data-i18n-title="the username for the upload service account" title="the username for the upload service account">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(ftp|sftp|http|https|webdav)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Password">Password</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled storage camera-config" id="uploadPasswordEntry"></td>
        <td><span class="help-mark" data-i18n-title="the password for the upload service account" title="the password for the upload service account">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(gdrive|gphoto|dropbox)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Authorization key">Authorization key</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled storage camera-config" id="uploadAuthorizationKeyEntry"></td>
        <td><span class="help-mark" data-i18n-title="the key used to authenticate with the upload service (normally required only during setup)" title="the key used to authenticate with the upload service (normally required only during setup)">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(gdrive|gphoto|dropbox)">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value">
            <div class="html styled storage camera-config" id="authorizeLinkHtml">
                <a href="javascript:authorizeUpload()" data-i18n="Obtain key">Obtain key</a>
            </div>
        </td>
        <td><span class="help-mark" data-i18n-title="click here to obtain the service authorization key" title="click here to obtain the service authorization key">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(s3)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Access Key">Access Key</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled storage camera-config" id="uploadAccessKeyEntry"></td>
        <td><span class="help-mark" data-i18n-title="The AWS Access Key Used To Authenticate with the Upload Service" title="The AWS Access Key Used To Authenticate with the Upload Service">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(s3)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Secret Access Key">Secret Access Key</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled storage camera-config" id="uploadSecretKeyEntry"></td>
        <td><span class="help-mark" data-i18n-title="the AWS secret access key used to authenticate with the upload service (usually required only during configuration)" title="the AWS secret access key used to authenticate with the upload service (usually required only during configuration)">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled uploadService=(s3)">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Bucket">Bucket</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="uploadBucketEntry"></td>
        <td><span class="help-mark" data-i18n-title="the S3 bucket name for the upload service (normally required only during setup)" title="the S3 bucket name for the upload service (normally required only during setup)">?</span></td>
    </tr>
    <tr class="settings-item" depends="uploadEnabled">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value"><div class="button normal-button test-button" id="uploadTestButton" data-i18n="Test service">Test service</div></td>
        <td><span class="help-mark" data-i18n-title="click this button to test the upload service after you have filled in the required details" title="click this button to test the upload service after you have filled in the required details">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Call A Web Hook">Call A Web Hook</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="webHookStorageEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want a URL to be requested after a media file is created" title="enable this if you want a URL to be requested after a media file is created">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="webHookStorageEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Web Hook URL">Web Hook URL</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="webHookStorageUrlEntry" placeholder="<span data-i18n="e.g. http://example.com/notify/">e.g. http://example.com/notify/</span>"></td>
        <td><span class="help-mark" data-i18n-title="a URL to be requested when motion is detected; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, %%f = file path" title="a URL to be requested when motion is detected; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, %%f = file path">?</span></td>
    </tr>
    <tr class="settings-item" depends="webHookStorageEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="HTTP method">HTTP method</span></td>
        <td class="settings-item-value">
            <select class="styled storage camera-config" id="webHookStorageHttpMethodSelect">
                <option value="GET">GET</option>
                <option value="POST">POST (query)</option>
                <option value="POSTf">POST (form)</option>
                <option value="POSTj">POST (json)</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here)" title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here)">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Run A Command">Run A Command</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled storage camera-config" id="commandStorageEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want to execute a command after a media file is created" title="enable this if you want to execute a command after a media file is created">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="commandStorageEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Command">Command</span></td>
        <td class="settings-item-value"><input type="text" class="styled storage camera-config" id="commandStorageEntry" placeholder="<span data-i18n="Order…">Order…</span>"></td>
        <td><span class="help-mark" data-i18n-title="a command to be executed after a media file is created; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, %%f = file path" title="a command to be executed after a media file is created; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, %%f = file path">?</span></td>
    </tr>
    {% for config in camera_sections.get('storage', {}).get('configs', []) %}
        {{config_item(config)}}
    {% endfor %}
</table>
