<div class="settings-section-title" id="motionDetectionSectionDiv">
    <input type="checkbox" class="styled section motion-detection camera-config" id="motionDetectionEnabledSwitch">
    <span class="help-mark" data-i18n-title="enable this to use and configure the motion detection mechanism." title="enable this to use and configure the motion detection mechanism.">?</span>
    <a class="settings-section-title" data-i18n="Motion Detection">Motion Detection</a>
    <span class="minimize"></span>
</div>
<table class="settings">
    <tr class="settings-item" min="0" max="20" snap="0" ticksnum="5" decimals="1" unit="%" depends="!autoThresholdTuning">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Frame Change Threshold">Frame Change Threshold</span></td>
        <td class="settings-item-value"><input type="text" class="range styled motion-detection camera-config" id="frameChangeThresholdSlider"></td>
        <td><span class="help-mark" data-i18n-title="indicates the minimal percent of the image that must change between two successive frames in order for motion to be detected (smaller values give a more sensitive detection, but are prone to false positives)." title="indicates the minimal percent of the image that must change between two successive frames in order for motion to be detected (smaller values give a more sensitive detection, but are prone to false positives).">?</span></td>
    </tr>
    <tr class="settings-item" min="0" required="true" depends="!autoThresholdTuning">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Maximum Change Threshold">Maximum Change Threshold</span></td>
        <td class="settings-item-value"><input type="text" class="number styled motion-detection camera-config" id="maxFrameChangeThresholdEntry"><span class="settings-item-unit">pixels</span></td>
        <td><span class="help-mark" data-i18n-title="sets the number of pixels changed between frames above which motion is no longer triggered (0 disables the limit)." title="sets the number of pixels changed between frames above which motion is no longer triggered (0 disables the limit).">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Automatic Threshold Tuning">Automatic Threshold Tuning</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="autoThresholdTuningSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this to automatically adjust the threshold." title="enable this to automatically adjust the threshold.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Automatic Noise Detection">Automatic Noise Detection</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="autoNoiseDetectSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this to automatically adjust the noise level." title="enable this to automatically adjust the noise level.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="25" snap="0" ticksnum="6" decimals="0" unit="%" depends="!autoNoiseDetect">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Noise Level">Noise Level</span></td>
        <td class="settings-item-value"><input type="text" class="range styled motion-detection camera-config" id="noiseLevelSlider"></td>
        <td><span class="help-mark" data-i18n-title="manually sets the noise level to a fixed value." title="manually sets the noise level to a fixed value.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="100" snap="0" ticksnum="5" decimals="0" unit="%">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Light Switch Detection">Light Switch Detection</span></td>
        <td class="settings-item-value"><input type="text" class="range styled motion-detection camera-config" id="lightSwitchDetectSlider"></td>
        <td><span class="help-mark" data-i18n-title="sets the percentage of the image that needs to change so that the event is treated as a sudden light change instead of motion (0%% disables the function)." title="sets the percentage of the image that needs to change so that the event is treated as a sudden light change instead of motion (0%% disables the function).">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Despeckle Filter">Despeckle Filter</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="despeckleFilterSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this to apply a despeckle filter to frames before detecting motion." title="enable this to apply a despeckle filter to frames before detecting motion.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" min="0" max="86400" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Motion Gap">Motion Gap</span></td>
        <td class="settings-item-value"><input type="text" class="number styled motion-detection camera-config" id="eventGapEntry"><span class="settings-item-unit" data-i18n="seconds">seconds</span></td>
        <td><span class="help-mark" data-i18n-title="sets the number of seconds of silence (i.e. no motion) that mark the end of a motion event." title="sets the number of seconds of silence (i.e. no motion) that mark the end of a motion event.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="1000" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Captured Before">Captured Before</span></td>
        <td class="settings-item-value"><input type="text" class="number styled motion-detection camera-config" id="preCaptureEntry"><span class="settings-item-unit" data-i18n="frames">frames</span></td>
        <td><span class="help-mark" data-i18n-title="sets the number of frames to be captured (and included in the movie) before a motion event is detected." title="sets the number of frames to be captured (and included in the movie) before a motion event is detected.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="1000" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Captured After">Captured After</span></td>
        <td class="settings-item-value"><input type="text" class="number styled motion-detection camera-config" id="postCaptureEntry"><span class="settings-item-unit" data-i18n="frames">frames</span></td>
        <td><span class="help-mark" data-i18n-title="sets the number of frames to be captured (and included in the movie) after the end of a motion event." title="sets the number of frames to be captured (and included in the movie) after the end of a motion event.">?</span></td>
    </tr>
    <tr class="settings-item" min="1" max="1000" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Minimum Motion Frames">Minimum Motion Frames</span></td>
        <td class="settings-item-value"><input type="text" class="number styled motion-detection camera-config" id="minimumMotionFramesEntry"><span class="settings-item-unit" data-i18n="frames">frames</span></td>
        <td><span class="help-mark" data-i18n-title="sets the minimum number of successive motion frames required to start a motion event." title="sets the minimum number of successive motion frames required to start a motion event.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Mask">Mask</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="motionMaskSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enables image masking for a more selective and precise motion detection." title="enables image masking for a more selective and precise motion detection.">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionMask">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Mask Type">Mask Type</span></td>
        <td class="settings-item-value">
            <select class="styled motion-detection camera-config" id="motionMaskTypeSelect">
                <option value="smart" data-i18n="Smart">Smart</option>
                <option value="editable">"<span data-i18n="Editable">Editable</span>"</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="the smart option automatically detects regions with regular motion and dynamically builds an internal mask, while the editable mask allows you to manually build it yourself." title="the smart option automatically detects regions with regular motion and dynamically builds an internal mask, while the editable mask allows you to manually build it yourself.">?</span></td>
    </tr>
    <tr class="settings-item" min="1" max="10" snap="1" ticksnum="10" decimals="0" unit="" depends="motionMask motionMaskType=smart">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Smart Mask Sluggishness">Smart Mask Sluggishness</span></td>
        <td class="settings-item-value"><input type="text" class="range styled motion-detection camera-config" id="smartMaskSluggishnessSlider"></td>
        <td><span class="help-mark" data-i18n-title="higher values result in a longer-lasting smart mask with a slower building process." title="higher values result in a longer-lasting smart mask with a slower building process.">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionMask motionMaskType=editable">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value">
            <div class="button normal-button edit-mask-button" id="motionMaskEditButton" data-i18n="Edit Mask">Edit Mask</div>
            <div class="button normal-button save-mask-button" id="motionMaskSaveButton" data-i18n="Save Mask">Save Mask</div>
            <input type="text" class="motion-detection camera-config" id="motionMaskLinesEntry">
        </td>
        <td><span class="help-mark" data-i18n-title="click this button to clear the current mask." title="click this button to clear the current mask.">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionMask motionMaskType=editable">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value"><div class="button normal-button clear-mask-button" id="motionMaskClearButton" data-i18n="Clear Mask">Clear Mask</div></td>
        <td><span class="help-mark" data-i18n-title="click this button to clear the current mask." title="click this button to clear the current mask.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Show Frame Changes">Show Frame Changes</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="showFrameChangesSwitch"></td>
        <td><span class="help-mark" data-i18n-title="if this is enabled, frame changes (number of pixels as well as the changed area) are shown on the video; temporarily enable this option to help adjust the motion detection parameters." title="if this is enabled, frame changes (number of pixels as well as the changed area) are shown on the video; temporarily enable this option to help adjust the motion detection parameters.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Create Debug Media Files">Create Debug Media Files</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection camera-config" id="createDebugMediaSwitch"></td>
        <td><span class="help-mark" data-i18n-title="when enabled, creates special movies and pictures that help debugging motion detection problems." title="when enabled, creates special movies and pictures that help debugging motion detection problems.">?</span></td>
    </tr>
    {% for config in camera_sections.get('motion-detection', {}).get('configs', []) %}
        {{config_item(config)}}
    {% endfor %}
</table>
