<!-- Motion Notifications -->
<div class="settings-section-title" id="notificationsSectionDiv">
    <span class="help-mark" data-i18n-title="enable this if you want to be notified when motion is detected." title="enable this if you want to be notified when motion is detected.">?</span>
    <a class="settings-section-title" data-i18n="Motion Notifications">Motion Notifications</a>
    <span class="minimize"></span>
</div>
<table class="settings">
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label"><strong>Actions when motion</strong></span></td>
        <td class="settings-item-value"><span class="settings-item-label"><strong>has started:</strong></span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Send An Email">Send An Email</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="emailNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want to receive an email whenever a motion event is detected." title="enable this if you want to receive an email whenever a motion event is detected.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="emailNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Email Addresses">Email Addresses</span></td>
        <td class="settings-item-value"><input type="text" autocomplete="new-password" class="styled notifications camera-config" id="emailAddressesEntry" placeholder="<span data-i18n="Email addresses…">Email addresses…</span>"></td>
        <td><span class="help-mark" data-i18n-title="email addresses (separated by comma) that are added here will receive notifications whenever a motion event is detected." title="email addresses (separated by comma) that are added here will receive notifications whenever a motion event is detected.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="emailNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="SMTP Server">SMTP Server</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="smtpServerEntry" placeholder="<span data-i18n="e.g. smtp.gmail.com">e.g. smtp.gmail.com</span>"></td>
        <td><span class="help-mark" data-i18n-title="enter the hostname or IP address of your SMTP server (for Gmail use smtp.gmail.com)." title="enter the hostname or IP address of your SMTP server (for Gmail use smtp.gmail.com).">?</span></td>
    </tr>
    <tr class="settings-item" min="1" max="65535" depends="emailNotificationsEnabled motionDetectionEnabled" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="SMTP Port">SMTP Port</span></td>
        <td class="settings-item-value"><input type="text" class="styled number notifications camera-config" id="smtpPortEntry" placeholder="<span data-i18n="e.g. 587">e.g. 587</span>"></td>
        <td><span class="help-mark" data-i18n-title="enter the port used by your SMTP server (usually 465 for non-TLS connections and 587 for TLS connections)." title="enter the port used by your SMTP server (usually 465 for non-TLS connections and 587 for TLS connections).">?</span></td>
    </tr>
    <tr class="settings-item" depends="emailNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="SMTP Account">SMTP Account</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="smtpAccountEntry" placeholder="<span data-i18n="account@gmail.com…">account@gmail.com…</span>"></td>
        <td><span class="help-mark" data-i18n-title="enter your SMTP account (normally your email address)." title="enter your SMTP account (normally your email address).">?</span></td>
    </tr>
    <tr class="settings-item" depends="emailNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="SMTP Password">SMTP Password</span></td>
        <td class="settings-item-value"><input type="password" autocomplete="new-password" class="styled notifications camera-config" id="smtpPasswordEntry"></td>
        <td><span class="help-mark" data-i18n-title="enter your SMTP account password (for Gmail use your Google password or an app-specific generated password)." title="enter your SMTP account password (for Gmail use your Google password or an app-specific generated password).">?</span></td>
    </tr>
    <tr class="settings-item" depends="emailNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="From Address">From Address</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="emailFromEntry" placeholder="<span data-i18n="Email address…">Email address…</span>"></td>
        <td><span class="help-mark" data-i18n-title="set a custom From address, if your SMTP service requires one (the first destination email address will be used if left blank)." title="set a custom From address, if your SMTP service requires one (the first destination email address will be used if left blank).">?</span></td>
    </tr>
    <tr class="settings-item" depends="emailNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Use TLS">Use TLS</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="smtpTlsSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if your SMTP server requires TLS (Gmail needs this to be enabled)." title="enable this if your SMTP server requires TLS (Gmail needs this to be enabled).">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="60" required="true" depends="emailNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Attached Pictures Time Span">Attached Pictures Time Span</span></td>
        <td class="settings-item-value"><input type="text" class="number styled notifications camera-config" id="emailPictureTimeSpanEntry"><span class="settings-item-unit" data-i18n="seconds">seconds</span></td>
        <td><span class="help-mark" data-i18n-title="defines the picture search time interval to use when creating email attachments (higher values generate emails with more pictures at the cost of an increased notification delay); set to 0 to disable picture attachments; you must also enable Still Images for this to work." title="defines the picture search time interval to use when creating email attachments (higher values generate emails with more pictures at the cost of an increased notification delay); set to 0 to disable picture attachments; you must also enable Still Images for this to work.">?</span></td>
    </tr>
    <tr class="settings-item" depends="emailNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label"></span></td>
        <td class="settings-item-value"><div class="button normal-button test-button" id="emailTestButton" data-i18n="Test Email">Test Email</div></td>
        <td><span class="help-mark" data-i18n-title="click this button to test email notifications after you have filled in the required details." title="click this button to test email notifications after you have filled in the required details.">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Send Telegram Notification">Send Telegram Notification</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="telegramNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want to receive a telegram message whenever a moving event is detected" title="enable this if you want to receive a telegram message whenever a moving event is detected">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="telegramNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="HTTP API token">HTTP API token</span></td>
        <td class="settings-item-value"><input type="text" autocomplete="new-password" class="styled notifications camera-config" id="telegramAPIEntry" placeholder="<span data-i18n="Example: 93847672:AACdSn843hsjJsh32bSmdN3sHsh2bsh0xRs_32dbcr1W">Example: 93847672:AACdSn843hsjJsh32bSmdN3sHsh2bsh0xRs_32dbcr1W</span>"></td>
        <td><span class="help-mark" data-i18n-title="By creating the Telegram-Bot chat, you will get an API token that you need to enter here. Click the API button below for a step-by-step guide on how to get your API token. Also be sure to chat with your newly created &quot;bot&quot; after your key is generated, to make sure you get messages." title="By creating the Telegram-Bot chat, you will get an API token that you need to enter here. Click the API button below for a step-by-step guide on how to get your API token. Also be sure to chat with your newly created &quot;bot&quot; after your key is generated, to make sure you get messages.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="telegramNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Chat ID">Chat ID</span></td>
        <td class="settings-item-value"><input type="text" autocomplete="new-password" class="styled notifications camera-config" id="telegramCIDEntry" placeholder="<span data-i18n="Example: 938272312">Example: 938272312</span>"></td>
        <td><span class="help-mark" data-i18n-title="Create a new chat to id_chatbot (@id_chatbot) and choose to start. The chat will return the required number for this field." title="Create a new chat to id_chatbot (@id_chatbot) and choose to start. The chat will return the required number for this field.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="60" required="true" depends="telegramNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Attached Images Time">Attached Images Time</span></td>
        <td class="settings-item-value"><input type="text" class="number styled notifications camera-config" id="telegramPictureTimeSpanEntry"><span class="settings-item-unit">seconds</span></td>
        <td><span class="help-mark" data-i18n-title="defines the image search time interval to create telegram attachments (higher values generate more images at the cost of increased notification delay); set to 0 to disable image attachments; you must also enable Still Images for this to work; you will want to play with this number until an image is sent. A good starting number is 30 if you set still images to one motion triggered. For a standard move triggered, set this much lower." title="defines the image search time interval to create telegram attachments (higher values generate more images at the cost of increased notification delay); set to 0 to disable image attachments; you must also enable Still Images for this to work; you will want to play with this number until an image is sent. A good starting number is 30 if you set still images to one motion triggered. For a standard move triggered, set this much lower.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="telegramNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><a href="https://core.telegram.org/bots#6-botfather" target="_blank"><div class="button normal-button test-button" id="apiInstructionButton" style="opacity: 1; display: inline-block;" data-i18n="API Information">API Information</div></a></td>
        <td class="settings-item-label"><div class="button normal-button test-button" id="telegramTestButton" style="opacity: 1; display: inline-block;" data-i18n="Test">Test</div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Call A Web Hook">Call A Web Hook</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="webHookNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want a URL to be requested whenever a motion event is detected." title="enable this if you want a URL to be requested whenever a motion event is detected.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="webHookNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Web Hook URL">Web Hook URL</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="webHookNotificationsUrlEntry" placeholder="<span data-i18n="e.g. http://example.com/notify/">e.g. http://example.com/notify/</span>"></td>
        <td><span class="help-mark" data-i18n-title="a URL to be requested when motion is detected; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number" title="a URL to be requested when motion is detected; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number">?</span></td>
    </tr>
    <tr class="settings-item" depends="webHookNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="HTTP method">HTTP method</span></td>
        <td class="settings-item-value">
            <select class="styled notifications camera-config" id="webHookNotificationsHttpMethodSelect">
                <option value="GET">GET</option>
                <option value="POST">POST (query)</option>
                <option value="POSTf">POST (form)</option>
                <option value="POSTj">POST (json)</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here)." title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here).">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Run A Command">Run A Command</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="commandNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want to execute a command whenever a motion event is detected." title="enable this if you want to execute a command whenever a motion event is detected.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="commandNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Command">Command</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="commandNotificationsEntry" placeholder="<span data-i18n="Command…">Command…</span>"></td>
        <td><span class="help-mark" data-i18n-title="a command to be executed when motion is detected; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number" title="a command to be executed when motion is detected; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label"><strong>Actions when motion</strong></span></td>
        <td class="settings-item-value"><span class="settings-item-label"><strong>has ended:</strong></span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Call A Web Hook">Call A Web Hook</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="webHookEndNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" title="enable this if you want a URL to be requested whenever a motion event ends">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="webHookEndNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Web Hook URL">Web Hook URL</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="webHookEndNotificationsUrlEntry" placeholder="e.g. http://example.com/notify/"></td>
        <td><span class="help-mark" title="a single URL to be requested when motion event ends; the following special tokens are accepted: %Y = year, %m = month, %d = day, %H = hour, %M = minute, %S = second, %q = frame number, %v = event number">?</span></td>
    </tr>
    <tr class="settings-item" depends="webHookEndNotificationsEnabled motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="HTTP method">HTTP method</span></td>
        <td class="settings-item-value">
            <select class="styled notifications camera-config" id="webHookEndNotificationsHttpMethodSelect">
                <option value="GET">GET</option>
                <option value="POST">POST (query)</option>
                <option value="POSTf">POST (form)</option>
                <option value="POSTj">POST (json)</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here)." title="the HTTP method to use when requesting the web hook URL (the given URL-encoded parameters will in fact be transmitted as indicated here).">?</span></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td colspan="100"><div class="settings-item-separator"></div></td>
    </tr>
    <tr class="settings-item" depends="motionDetectionEnabled">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Run A Command">Run A Command</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled notifications camera-config" id="commandEndNotificationsEnabledSwitch"></td>
        <td><span class="help-mark" data-i18n-title="enable this if you want to execute a command whenever a motion event ends." title="enable this if you want to execute a command whenever a motion event ends.">?</span></td>
    </tr>
    <tr class="settings-item" required="true" depends="commandEndNotificationsEnabled motionDetectionEnabled" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Command">Command</span></td>
        <td class="settings-item-value"><input type="text" class="styled notifications camera-config" id="commandEndNotificationsEntry" placeholder="<span data-i18n="Command…">Command…</span>"></td>
        <td><span class="help-mark" data-i18n-title="a command to be executed when motion event ends; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = date, %%H = hour, %%M = minute, %%S = second, %%q = frame number." title="a command to be executed when motion event ends; multiple commands can be separated by a semicolon; don't use semicolons inside commands; the following special tokens are accepted: %%Y = year, %%m = month, %%d = date, %%H = hour, %%M = minute, %%S = second, %%q = frame number.">?</span></td>
    </tr>
    {% for config in camera_sections.get('notifications', {}).get('configs', []) %}
        {{config_item(config, "motionDetectionEnabled")}}
    {% endfor %}
</table>
