<div class="settings-section-title" id="stillImagesSectionDiv">
    <input type="checkbox" class="styled section still-images camera-config" id="stillImagesEnabledSwitch">
    <span class="help-mark" data-i18n-title="enable this if you want to capture still images (pictures)." title="enable this if you want to capture still images (pictures).">?</span>
    <a class="settings-section-title" data-i18n="Still Images">Still Images</a>
    <span class="minimize"></span>
</div>
<table class="settings">
    <tr class="settings-item" required="true" strip="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Image File Name">Image File Name</span></td>
        <td class="settings-item-value"><input type="text" class="styled still-images camera-config" id="imageFileNameEntry" data-i18n-placeholder="File name Template…" placeholder="File name Template…"></td>
        <td><span class="help-mark" data-i18n-title="sets the name pattern for the image (JPEG) files; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, / = subfolder." title="sets the name pattern for the image (JPEG) files; the following special tokens are accepted: %%Y = year, %%m = month, %%d = day, %%H = hour, %%M = minute, %%S = second, %%q = frame number, %%v = event number, / = subfolder.">?</span></td>
    </tr>
    <tr class="settings-item" min="0" max="100" snap="0" ticksnum="5" decimals="0" unit="%">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Image Quality">Image Quality</span></td>
        <td class="settings-item-value"><input type="text" class="range styled still-images camera-config" id="imageQualitySlider"></td>
        <td><span class="help-mark" data-i18n-title="sets the JPEG image quality (higher values produce a better image quality but require more storage space)" title="sets the JPEG image quality (higher values produce a better image quality but require more storage space)">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Capture mode">Capture mode</span></td>
        <td class="settings-item-value">
            <select class="styled still-images camera-config" id="captureModeSelect">
                <option value="motion-triggered" data-i18n="Motion Triggered">Motion Triggered</option>
                <option value="motion-triggered-one" data-i18n="Motion Triggered (One Picture)">Motion Triggered (One Picture)</option>
                <option value="interval-snapshots" data-i18n="Interval Snapshots">Interval Snapshots</option>
                <option value="all-frames" data-i18n="All Frames">All Frames</option>
                <option value="manual" data-i18n="Manual">Manual</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="sets the image capture mode: Motion Triggered = an image captured whenever motion is detected, Interval Snapshots = an image captured every x seconds, All Frames = saves each frame to an image file, Manual = manual snapshots using snapshot button." title="sets the image capture mode: Motion Triggered = an image captured whenever motion is detected, Interval Snapshots = an image captured every x seconds, All Frames = saves each frame to an image file, Manual = manual snapshots using snapshot button.">?</span></td>
    </tr>
    <tr class="settings-item" min="1" max="86400" required="true" depends="captureMode=interval-snapshots">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Snapshot Interval">Snapshot Interval</span></td>
        <td class="settings-item-value"><input type="text" class="styled number still-images camera-config" id="snapshotIntervalEntry"><span class="settings-item-unit" data-i18n="seconds">seconds</span></td>
        <td><span class="help-mark" data-i18n-title="sets the interval (in seconds) for the snapshots" title="sets the interval (in seconds) for the snapshots">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Preserve Pictures">Preserve Pictures</span></td>
        <td class="settings-item-value">
            <select class="styled still-images camera-config" id="preservePicturesSelect">
                <option value="1" data-i18n="For One Day">For One Day</option>
                <option value="7" data-i18n="For One Week">For One Week</option>
                <option value="30" data-i18n="For One Month">For One Month</option>
                <option value="365" data-i18n="For One Year">For One Year</option>
                <option value="0" data-i18n="Forever">Forever</option>
                <option value="-1" data-i18n="Custom">Custom</option>
            </select>
        </td>
        <td><span class="help-mark" data-i18n-title="images older than the specified duration are automatically deleted to free up storage space." title="images older than the specified duration are automatically deleted to free up storage space.">?</span></td>
    </tr>
    <tr class="settings-item" min="1" max="3650" depends="preservePictures=-1" required="true">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Picture Lifetime">Picture Lifetime</span></td>
        <td class="settings-item-value"><input type="text" class="styled number still-images camera-config" id="picturesLifetimeEntry"><span class="settings-item-unit">days</span></td>
        <td><span class="help-mark" data-i18n-title="sets the number of days after which the pictures will be deleted automatically." title="sets the number of days after which the pictures will be deleted automatically.">?</span></td>
    </tr>
    <tr class="settings-item">
        <td class="settings-item-label"><span class="settings-item-label" data-i18n="Enable Manual Snapshots">Enable Manual Snapshots</span></td>
        <td class="settings-item-value"><input type="checkbox" class="styled still-images camera-config" id="manualSnapshotsSwitch"></td>
        <td><span class="help-mark" data-i18n-title="when this is enabled, a button on the camera frame will allow you to manually take snapshots." title="when this is enabled, a button on the camera frame will allow you to manually take snapshots.">?</span></td>
    </tr>
    {% for config in camera_sections.get('still-images', {}).get('configs', []) %}
        {{config_item(config)}}
    {% endfor %}
</table>
