{% extends "base.html" %}
{% from "partials/_macros.html" import config_item with context %}

{% block title %}{% if title %}{{title}}{% else %}{{hostname}}{% endif %}{% endblock %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/ui.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="{{static_path}}css/main.css?v={{version}}">
    {% if frame %}
        <link rel="stylesheet" type="text/css" href="{{static_path}}css/frame.css?v={{version}}">
    {% endif %}
{% endblock %}

{% block script %}
    {{super()}}
    <script defer src="{{static_path}}js/ui.js?v={{version}}"></script>
    <script defer src="{{static_path}}js/main.js?v={{version}}"></script>
    {% if frame %}
        <script defer src="{{static_path}}js/frame.js?v={{version}}"></script>
    {% endif %}
{% endblock %}

{% block inline %}
    {{super()}}
    {% include "partials/_inline_scripts.html" %}
{% endblock %}

{% block body %}
    {% if not frame %}
        {% include "partials/_header.html" %}
        <div class="page">
            <div class="settings closed">
                <div class="settings-container">
                    <form autocomplete="new-password">
                        {% include "partials/settings/_preferences.html" %}
                        {% include "partials/settings/_general.html" %}

                        {# Additional Main Sections (dynamic) #}
                        {% for section in main_sections.values() %}
                        {% if section.get('label') and section.get('configs') %}
                        <div class="settings-section-title additional-section">
                            {% if section.get('onoff') %}<input type="checkbox" class="styled section additional-section {{section['name']}} main-config" id="{{section['name']}}Switch">{% endif %}
                            {% if section.get('description') %}<span class="help-mark" title="{{section['description']}}">?</span>{% endif %}
                            <a class="settings-section-title">{{section['label']}}</a>
                            <span class="minimize {% if section.get('open') %}open{% endif %}"></span>
                        </div>
                        <table class="settings">
                            {% for config in section['configs'] %}
                                {{config_item(config)}}
                            {% endfor %}
                        </table>
                        {% endif %}
                        {% endfor %}

                        {% include "partials/settings/_video_device.html" %}
                        {% include "partials/settings/_file_storage.html" %}
                        {% include "partials/settings/_text_overlay.html" %}
                        {% include "partials/settings/_video_streaming.html" %}
                        {% include "partials/settings/_still_images.html" %}
                        {% include "partials/settings/_movies.html" %}
                        {% include "partials/settings/_motion_detection.html" %}
                        {% include "partials/settings/_notifications.html" %}
                        {% include "partials/settings/_working_schedule.html" %}
                        {% include "partials/settings/_additional_sections.html" %}

                        <div class="settings-progress"></div>
                    </form>
                </div>
            </div>
            {% include "partials/_page_container.html" %}
        </div>
    {% else %}
        {% include "partials/_frame_mode.html" %}
    {% endif %}
    {% include "partials/_modals.html" %}
{% endblock %}
