<div class="header">
    <div class="header-container">
        <div class="settings-top-bar closed">
            <div class="button icon settings-button mouse-effect" data-i18n-title="settings" title="settings"></div>
            <div class="button icon logout-button mouse-effect" data-i18n-title="switch user" title="switch user"></div>
            <select class="styled" id="cameraSelect" {% if not add_remove_cameras %}style="display: none;"{% endif %}></select>
            <div class="button icon rem-camera-button mouse-effect" id="remCameraButton" data-i18n-title="remove camera" title="remove camera" {% if not add_remove_cameras %}style="display: none;"{% endif %}></div>
            <div class="button apply-button" id="applyButton" data-i18n="Apply">Apply</div>
            {% if hostname %}<div class="hostname">{{hostname}}</div>{% endif %}
        </div>
        <div class="logo">
            <a href="">
                <span class="logo">motionEye</span>
                <img class="logo" src="{{static_path}}img/motioneye-logo.svg">
            </a>
        </div>
    </div>
</div>
